<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_UpdateFileHeaderJSON" serializeAs="String">
                <value>/// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCPlusPlus" serializeAs="String">
                <value>// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCSS" serializeAs="String">
                <value>// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderSCSS" serializeAs="String">
                <value>// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderJavaScript" serializeAs="String">
                <value>// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderVB" serializeAs="String">
                <value>' Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
' Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderTypeScript" serializeAs="String">
                <value>// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderXAML" serializeAs="String">
                <value>&lt;!--
// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
--&gt;

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
                <value>// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.

</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderHTML" serializeAs="String">
                <value>&lt;!--
// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
--&gt;
</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderXML" serializeAs="String">
                <value>&lt;!--
// Copyright (c) to owners found in https://github.com/arlm/WinApi/blob/master/COPYRIGHT.md. All rights reserved.
// Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
--&gt;

</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>